.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--height--navbar);
  overflow: hidden;
  background: var(--color--background);
  color: var(--color--text-main);
  box-shadow: 0px 1px 1px #00000046;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--spacing--common);
}